<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Microservice Client</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css} "/>
</head>
<body>
<div class="container">
    <form name="input" th:action="@{|/order/${id}/addProduct|}" method="get">
        <div th:each="cartItem : ${cartItemList}" class="col-md-5 my-1">
            <div>
                <table border="0">
                    <tr>
                        <td>id: </td>
                        <td th:text="${cartItem.id}"></td>
                    </tr>
                    <tr>
                        <img th:src="${cartItem.illustration}" class="card-img-top"/>
                    </tr>
                    <tr>
                        <td>quantity: </td>
                        <td th:text="${cartItem.quantity}"></td>
                    </tr>
                    <tr>
                        <td>description: </td>
                        <td th:text="${cartItem.description}"></td>
                    </tr>
                    <tr>
                        <td>price: </td>
                        <td th:text="${cartItem.price}"></td>
                    </tr>
                </table>
            </div>
        </div>
        <input th:type="submit" value="Submit">
    </form>
</div>

</body>
</html>
